body {
    min-width:150px;
    text-align: left;
    background: rgb(255, 235, 242);
    font-family: 'Raleway', sans-serif;
}

input[type="text"] {
    
    border: 1px solid #ffe07c;
    height: 1.8em;
    width: 50%;
    background-color: rgb(152, 183, 246);
    text-align: left;
    border-radius: 10px;
    margin-bottom: .2em;
    
}

.header {
    padding-top: .1em;
    padding-bottom: .2em;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: rgb(0, 63, 167);
}

input[type="text"]:focus {
    outline: 0;
    border: 1px solid #f69a39;    
}

.addToListForm label {
  display: none;
}

div.input.item {
    float: right;
}
